<h1>Configurar autenticação de dois fatores</h1>
<p>Use seu aplicativo de autenticação de dois fatores para escanear o código QR</p>

<%= @qrcode.as_svg(module_size: 3, fill: "ffffff").html_safe %>

<%= form_with(
      url: two_factor_authentication_confirmation_path,
      local: true,
      method: :post
) do |f| %>
  <p>Digite o código de 6 dígitos do seu aplicativo autenticador de dois fatores.</p>

  <%= render 'components/otp_field', f: f, field_name: :otp_code, code_length: 6 %>

  <div>
    <%= f.button "Confirme e ative", type: :submit %>

    <%= link_to 'Cancelar', two_factor_authentication_path %>
  </div>
<% end %>
