<!DOCTYPE html>
<html>
  <head>
    <title>Rails Web App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to 'Rails Web App', root_path %>
      </h1>

      <nav>
        <% if user_signed_in? %>
           <%= link_to "Home", '/dashboard'%>
            <%= link_to "Senha", edit_user_registration_path%>
            <%= link_to "MFA", two_factor_authentication_path%>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete , form: { data: { turbo_confirm: 'Are you sure?' } }  %>
        <% else %>
            <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </nav>
    </header>


    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
